
<style type="text/css">
 {
   padding: 0;
   margin: 0;
   
}

#body {
   background: none;
   color: #004080;
   font-family: arial, helvetica, sans-serif;
   width: 760px;
   	  

}

#body_login {
   background: none;
   color: #004080;
   font-family: arial, helvetica, sans-serif;
   width: 200px;  
   left:50%;
   top:50%;
   margin-left:390px;
   margin-right:10px;
   margin-top:100px;
   margin-bottom:300px;
   position: relative;

}

#form {
   background: none;
   color: #004080;
   font-family: arial, helvetica, sans-serif;
   width: 500px;  
   left:50%;
   top:50%;
   margin-left:-250px;
   margin-right:50px;
   margin-top:100px;
   margin-bottom:200px;
   position: relative;
	
}

#menu {
  		width: 960px;
  		left:50%;
		top:50%;
		
		margin-left:280px;
		margin-right:330px;
		margin-top:80px;
		
		position: static;
 }
 

#imagem {
		
		position:absolute;
		left:50%;
		top:50%;
		
		margin-left:-200px;
		margin-top:-330px;
}


#pagina {
	   background: none;
	   color: #004080;
	   font-family: arial, helvetica, sans-serif;
	   width: 760px;  
	   left:50%;
	   top:50%;
	   margin-left:-500px;
	   margin-right:100px;
	   margin-top:-100px;
	   margin-bottom:300px;
	   position: fixed;
	
}

ul li {
	float: inherit;
	list-style: none;
	margin-right: 1em;
	 
}

li a {
	color: #544738;
	text-decoration: none;
	float: left;
	font-size: 25px;
	padding: 20px;
}

li a:hover {
	color: #7eb9be;
}

/*MENU DROPDOWN*/		
/*.menu{list-style:none; border:1px solid #c0c0c0; float:left; }

.menu li{position:relative; float:left; border-right:1px solid #c0c0c0; }

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{background:#333; color:#fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; text-shadow:0px 0px 5px #fff; }

.menu li   ul{position:absolute; top:25px; left:100; background-color:#fff; display:none; }

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{border:1px solid #c0c0c0; display:block; width:150px;}*/		

</style>